.table-wrapper {
    margin-top: 35px;
    padding: 10px;
    width: 310px;
    height: 430px;
    overflow: auto;
}

.table-wrapper table {
    width: 100%;
    border-collapse: collapse;
}

.table-wrapper tbody {
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.table-wrapper tbody tr:not(:first-child) {
    border-top: 1px solid rgba(0,0,0,0.1);
}

.table-wrapper th,
.table-wrapper td {
    padding: 10px;
    text-align: left;
}



