.button {
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin: 5px;
    color: white;
    font-size: 24px;
    background: #323232;
    cursor: pointer;
}

.button:hover {
    opacity: .8;
}


.side-button {
    background: #FA8C11;
}

.side-button:focus {
    color: black;
    background: white;
}

.top-button {
    color: black;
    background: #A6A6A6;
}

.big-button {
    width: 150px;
}
